ADMIN_PIN=
FRONTEND_URL=
MONGODB_URI=
SESSION_SECRET=
GEMINI_API_KEY=
OPENROUTER_API_KEY=
PIXABAY_API_KEY=
IMGBB_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_URL=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIRESTORE_DATABASE_ID=

